body {
    display:grid;
    
    grid-template-rows : 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;

}
#map{
    grid-row: 1 / 4;
    grid-column: 1 / 5;

}
#texteExplicatif{
    grid-row: 4;
    grid-column: 4;

}