body {
    display:grid;
    
    grid-template-rows : 25%, 25%, 25%, 25%;
    grid-template-columns: 25%, 25%, 25%, 25%;

}
#map{
    grid-row: 1 / 4;
    grid-column: 1 / 5;

}
#texteExplicatif{
    grid-row: 4;
    grid-column: 4;

}
