body{
    display: grid;
    text-align: center;
    
    grid-template-rows : 25vh 25vh 25vh 25vh;
}

h1{
    font-family: Akronim, sans-serif;
    color: rgb(82, 5, 5);
    
    grid-row: 2;
    font-size: 50px;

}

#bouton{
    
    grid-row: 3;
    color:rgb(82, 5, 5);
    padding: 40px; /*problème ici, le padding n'impacte pas la taille du bouton mais seulement sa position*/
    cursor: pointer;/*le curseur pointe autour du bouton mais pas dessus*/
    margin: 0;
    border: none;


}
p{
    color:rgb(251, 251, 251);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align:center;
    width:100%; 

}
html{
    /*le fond d'ecran couvre toute la page */
    background-size: cover;
    /* Centrez le fond d'ecran horizontalement et verticalement */
    background-position: center;
    /* Desactivez la repetition du fond d'ecran */
    background-repeat: no-repeat;
    /* Specifiez le chemin du fichier GIF */
    background-image: url('images/OMTd.gif');
    /* Ajoutez une couleur de secours au cas où l'image ne se chargerait pas */
    background-color: blanchedalmond;
    /* Définissez la hauteur de la page, cela dépend de votre conception */
    height: 100vh;
    /* Ajustez d'autres styles selon vos besoins */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}